body {
    background-color: rgb(144, 179, 176);
  }
  
  h1 {
    color: rgb(216, 203, 130);
    text-align: center;
  }

  h3 {
    color: rgb(79, 90, 87);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #6b6b6b;
    cursor: pointer;
    font-size: 18px;
    margin:0 auto;
    display:block;
  }
  
  .btn:hover {
    background-color: rgb(138, 138, 138);
  }
  
  .btn.active {
    background-color: #666;
    color: rgb(233, 220, 148);
  }